interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.facebook.com/v2.11/me?access_token=wrong+access_token&fields=id%2C+name%2C+email&appsecret_proof=0a78bcc9a60e36ccce9a3fb00e6912f9d311890ac64d21d7219a72575eec4c60
  response:
    body: {string: !!python/unicode '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"AhdvcY2l\/Mu"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      www-authenticate: [OAuth "Facebook Platform" "invalid_token" "Invalid OAuth
          access token."]
    status: {code: 400, message: Bad Request}
version: 1
